.registr{
    z-index: 100;
    background: #25252a;  /*#202020 - #502d57*/   /*#272727 - #502d57*/  /*#25252a - #7289d8*/
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;

    grid-template-rows: 1fr 350px 1fr;
    grid-template-columns: 3.8fr 350px 3.8fr;
    
    
}

.registrForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    justify-items: center; /*выравнивает содержимое по центру области;*/
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    background: #7289d8;
    border-radius: 8px;
    /*border: 1px solid #646468;*/
    z-index: 105;
}

.styleForm{
    color: white;
    font-size: 16pt;
    cursor: pointer;
}

.registrForm input{
    width: 90%;
    height: 25px;
    font-size: 13pt;
    border-radius: 6px;
    outline: none;
    border:0px;
}